.inner-section {padding: 0 2rem}
#container { margin-top: 70px; padding-left: 250px;} 
#container .contain-title { width: 100%; padding: 20px 30px; color: #1e2326; font-size: 3rem; border-bottom: 1px solid #ddd; box-sizing: border-box;} 
#container .container_wr {position: relative; background-color: #fff; } 
#container .container_wr section:first-child {margin-top: 30px;}
#container .container_wr section + section {margin-top: 60px;}
#container .container_wr .box {padding: 20px; background: #fff; border-radius: 10px; border: 1px solid #000;}        
#container.container-small { padding-left: 50px; }

@media (max-width: 1024px) { 
    #container {
        padding-left: 0;
    }
}

.inner-section.in-between { display: flex; gap: 2rem; } 
 
 .board-container { width: calc(100% - 320px); } 
 .board-container > div + div { margin-top: 2rem; } 
 .sub-menu { width: 300px; } 
 .sub-menu .sticky-box { position: sticky; top: 100px; } 
 .board-cont { display: flex; padding: 3rem 3rem 1rem; flex-direction: column; border: 1px solid #ddd; border-radius: 1rem; box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; } 
 .board-cont .board-tit { display: flex; padding-bottom: 2rem; justify-content: space-between; border-bottom: 1px solid #b1b1b1; } 
 .board-cont .board-tit .tit { font-size: 1.8rem; font-weight: 700; } 
 .board-cont .item { display: flex; padding: 1.6rem 0; align-items: center; gap: 2rem; border-bottom: 1px solid #ddd; } 
 .board-cont .item:last-child { border-bottom: 0; } 
 .board-cont .item.item-col .b-item { flex-direction: column; gap: 1rem; } 
 .board-cont .item.item-col .tit { width: 100%; } 
 .board-cont .item.item-col .cont { width: 100%; } 
 .board-cont .item .tit { width: 12rem; font-weight: 500; } 
 .board-cont .item .cont { width: calc(100% - 12rem); } 
 .board-cont .item .b-item { display: flex; align-items: center; flex: 1 1 auto; } 
 .board-cont .marking { color: #ff2e2e; } 

 @media (max-width: 1200px){
 .inner-section.in-between { flex-direction: column; } 
 .sub-menu { width: 100%; } 
 .board-container { width: 100%; } 
 }