.w100 {width: 10rem;}
.flex {display: flex;}
.flex-1 {flex: 1;}
.gap-10 {gap: 10px;}
.mla {margin-left: auto;}
.tlt {text-align: left !important;}
.btn-group.jcs {justify-content: space-between;}
.items-group {
    margin-top: 3rem;
    padding: 1.6rem;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
}

.input-group.cal .krds-form-select {
    width: 10rem;
}
.input-group.cal .form-group.cal {
    width: 40rem;
}
.input-group.cal .input-group.range {
    align-items: center;
}
.input-group.range > li:not(.mark) {    
    flex: 1 1 0px;
}
.input-group.sort-group {
    display: none;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #d9d9d9;   
}
.input-group.sort-group .sort-container {
    display: flex;
    gap: 0.5rem;    
}
.input-group.sort-group .sort-container .svg-icon.ico-sort-up {
    width: 1.4rem;
    height: 1.4rem;
}
.input-group.sort-group .sort-container .svg-icon.ico-sort-down {
    width: 1.4rem;
    height: 1.4rem;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;    
}

.table-group { margin-top: 6rem; } 
.table-group .table-top {padding-bottom: 2rem;border-bottom: 1px solid #d9d9d9; } 
.table-group .krds-table-wrap {margin-top: 2.5rem; } 

