.w100 {width: 10rem;}
.w120 {width: 12rem;}
.w140 {width: 14rem;}
.w140 {width: 14rem;}
.w180 {width: 18rem;}
.mxw320 {max-width: 32rem;}
.flex {display: flex;}
.flex {flex: content;}
.flex.flex-col {flex-direction: column; gap: 1rem;}
.fd-c {flex-direction: column;}
.flex-list {display: flex; flex-direction: column; gap: 1rem;}
.flex-list li {display: flex; gap: 1rem;}
.alc {align-items: center;}
.flex-w {flex-wrap: wrap;}
.flex-1 {flex: 1;}
.gap-10 {gap: 10px;}
.mra {margin-right: auto;}
.mla {margin-left: auto;}
.mt10 {margin-top: 1rem !important;}
.mt20 {margin-top: 2rem !important;}
.tlt {text-align: left !important;}
.tct {text-align: center;}
.jcc {justify-content: center;}
.btn-group.jcs {justify-content: space-between;}
.btn-group.jcc {justify-content: center;}
.btn-group.jce {justify-content: flex-end;}
.input-group.als {align-items: flex-start;}
.full { width: 100%;}
.t-line {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #cdd1d5;}
.b-line {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #cdd1d5;
 }
 .bt-1 {border-top: 1px solid #ddd;}
 .bb-0 {
    border-bottom: 0 !important;
 }

.fw700 {font-weight: 700;}
p.small {font-size: 1.4rem;}

.krds-input[readonly] {
    background-color: #f3f3f3;
}
.krds-form-select.xsmall {
    height: 3.2rem;
    font-size: 1.4rem;
}
.ico-group {display: flex; align-items: center; gap: 0.2rem; margin-left: 0.5rem; font-size: 1.4rem;}
.sel-group select:first-child {
    width: 12rem;
    flex: none;
}

.flex-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--krds-gap-5);
    width: 100%;
}
.input-group {
  gap: 1rem;
}
.input-group dl,
.form-group dl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.input-group dl dt,
.form-group dl dt {
    width: 12rem;    
}
.input-group dl dd,
.form-group dl dd {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.input-group.range > li:not(.mark) {    
    flex: 1 1 0px;
}

.svg-icon {
    vertical-align: middle;
}
.svg-icon.small {
    width: 2rem;
    height: 2rem;
}
.svg-icon.xsmall {
    width: 1.4rem;
    height: 1.4rem;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;    
}

.table-group { margin-top: 6rem; } 
.table-group .table-top {padding-bottom: 2rem;border-bottom: 1px solid #d9d9d9; } 
.table-group .krds-table-wrap {margin-top: 2.5rem; } 

.input-group.range>li.mark {
    height: 4rem;
}

.btn-gruop {
    position: relative;
  }

  .krds-form-select.type02[disabled] {
    background-color: #f3f3f3 !important;
    opacity: 1;
  }
  .krds-input[readonly].datepicker {
    background-color: #f3f3f3 !important;
  }
  .krds-input[disabled] {
    background-color: #f3f3f3 !important;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: none;
  }
  input[type="time"] {
      background-image: url(../../images/jobcloud/component/icon/ico_time.svg);
      background-size: 1.6rem 1.6rem;
      background-position: center right 1.6rem;
      background-repeat: no-repeat;
  }
  .krds-form-select.wfc {width: fit-content;}
  .krds-input.wfc {width: fit-content;}
.ov-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}