:root {
  --krds-pc-font-size-body-medium: 1.6rem;
  --krds-pc-font-size-body-large: 1.6rem;
  --krds-pc-font-size-label-medium: 1.6rem;
  --krds-pc-font-size-label-small: 1.6rem;
  --krds-pc-font-size-heading-xxsmall: 1.6rem;
  --krds-pc-font-size-label-xsmall: 1.2rem;
  --krds-pc-font-size-label-large: 2rem;
  --krds-light-color-input-border: #d9d9d9;
}

html {
  overflow: hidden;
}

body {
  max-width: 1920px;
  font-size: 1.6rem;
}

textarea.krds-input {
  font-size: 1.6rem;
}

#jc-header.header-small .krds-tooltip-popover.active {
  display: none;
}

#jc-header .gnb-item.active .krds-tooltip-popover.active {
  display: none;
}

#jc-header .main-menu .krds-btn {
  font-size: 2rem;
}

#jc-header .main-menu .krds-btn:focus {
  outline: auto;
  outline-color: #3679F4;
  box-shadow: none;
}

#jc-header .header-top {
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efefef;
  flex-wrap: wrap;
  align-items: center;
  z-index: 200;
  box-shadow: rgba(0, 0, 0, 0.45) 0 0px 6px -2px;
}

#jc-header .header-top .ht-logo {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
}

#jc-header .header-top .ht-logo img {
  vertical-align: baseline;
}

#jc-header .header-top .ht-util {
  margin-left: auto;
  margin-right: 10px;
}

#jc-header .header-top .ht-util .util-list {
  display: flex;
  gap: 10px;
}

#jc-header .header-top .ht-util .krds-drop-wrap {
  width: 100%;
}

#jc-header .header-top .ht-util .util-button {
  width: 100%;
  height: 30px;
  background: #1e2326;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #1e2326;
  font-size: 14px;
  font-weight: 500;
}

#jc-header .header-top .ht-util .drop-btn.util-button {
  background-color: #fff;
  color: #000;
  border-color: #d9d9d9;
}

#jc-header .header-top .ht-util .drop-menu {
  padding: 0;
  background-color: #f4f4f4;
}

#jc-header .header-top .ht-util .drop-list .item-link {
  height: 30px;
  background-color: #f4f4f4;
  color: #000;
  font-size: 14px;
  justify-content: center;
}

#jc-header .header-top .ht-util .drop-menu .drop-list li + li {
  border-top: 1px solid #d9d9d9;
}

#jc-header .header-top .ico-toggle-type02 {
  width: 12px;
  height: 8px;
  margin-left: 10px;
  background-color: #6c6e72;
  mask-image: url(../../images/jobcloud/component/icon/ico-toggle-type02.svg);
  mask-repeat: no-repeat;
}

#jc-header .header-top .btn-gnb {
  width: 50px;
  height: 70px;
  margin-right: 10px;
  background-color: #7196ff;
  border-radius: 0;
}

#jc-header .header-top .btn-gnb.open .ico-hd-menu {
  mask-image: url(../../images/jobcloud/component/icon/ico_head_menu_op.svg);
}

#jc-header .header-top .ico-hd-menu {
  width: 24px;
  height: 24px;
  background-color: #fff;
  mask-image: url(../../images/jobcloud/component/icon/ico_head_menu_cl.svg);
  mask-repeat: no-repeat;
}

#jc-header .main-menu {
  max-width: 250px;
  height: 100%;
  margin-top: 20px;
  padding-top: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #99B2F9;
  z-index: 150;
}

#jc-header .main-menu .gnb-list {
  width: 50px;
  height: 100%;
  position: relative;
}

#jc-header .main-menu .gnb-item.active .krds-btn {
  background-color: #F4F4F4;
}

#jc-header .main-menu .gnb-item .krds-btn {
  width: 50px;
  height: 50px;
  border-radius: 0;
}

#jc-header .main-menu .gnb-item.active .ico-nav {
  background-color: #1e2326;
}

#jc-header .main-menu .krds-tooltip-popover::before {
  background-color: #4158d1;
}

#jc-header .main-menu .krds-tooltip-popover {
  background-color: #4158d1;
}

#jc-header .main-menu .ico-nav {
  background-color: #f7f7f7;
  mask-repeat: no-repeat;
}

#jc-header .main-menu .ico-nav-menu01 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu01.svg);
}

#jc-header .main-menu .ico-nav-menu02 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu02.svg);
}

#jc-header .main-menu .ico-nav-menu03 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu03.svg);
}

#jc-header .main-menu .ico-nav-menu04 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu04.svg);
}

#jc-header .main-menu .ico-nav-menu05 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu05.svg);
}

#jc-header .main-menu .ico-nav-menu06 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu06.svg);
}

#jc-header .main-menu .ico-nav-menu07 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu07.svg);
}

#jc-header .main-menu .ico-nav-menu08 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu08.svg);
}

#jc-header .main-menu .ico-nav-menu09 {
  mask-image: url(../../images/jobcloud/component/icon/ico-nav-menu09.svg);
}

#jc-header .main-menu .gnb-item.active .gnb-depth {
  display: block;
}

#jc-header .main-menu .gnb-depth {
  display: none;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 50px;
  background-color: #F4F4F4;
}

#jc-header .main-menu .gnb-depth::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -100%;
  background-color: #F4F4F4;
}

#jc-header .main-menu .krds-side-navigation h3 {
  color: #1e2326;
  font-size: 2rem;
}

#jc-header .main-menu .krds-side-navigation {
  padding: 0;
}

#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-btn {
  padding: 1.2rem 1rem;
  color: #1e2326;
  font-size: 1.6rem;
  font-weight: 400;
}

#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-submenu-lv2 {
  background-color: #F4F4F4;
}

#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-submenu-lv2 .lnb-btn-tit {
  font-size: 1.6rem;
}

#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item.active .lnb-submenu {
  padding: 0;
}

#jc-header .main-menu .krds-side-navigation .lnb-list > li > .lnb-btn::before {
  background-color: #4158D1;
}

#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-submenu .lnb-btn {
  padding: 0.5rem;
  font-size: 1.4rem;
}

#jc-header.header-small .header-top {
  box-shadow: rgba(0, 0, 0, 0.45) 50px 0px 6px -2px;
}

#jc-header.header-small .main-menu .gnb-item:hover .gnb-depth,
#jc-header.header-small .main-menu .gnb-item.active:hover .gnb-depth {
  display: block;
}

#jc-header.header-small .main-menu .gnb-item.active .gnb-depth {
  display: none;
}

#jc-header .header-top .btn-navi {
  display: none;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

#jc-header .header-top .btn-navi::before {
  content: "";
  display: inline-flex;
  width: var(--krds-icon--size-medium);
  height: var(--krds-icon--size-medium);
  background-color: var(--krds-light-color-text-basic);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_all.svg);
  forced-color-adjust: none;
}

@media (max-width: 1024px) {
  #jc-header .header-top {
    padding: 0 1.6rem;
  }
  #jc-header .header-top .ht-util {
    display: none;
  }
  #jc-header .header-top .btn-gnb {
    display: none;
  }
  #jc-header .main-menu {
    display: none;
  }
  #jc-header .header-top .btn-navi {
    display: flex;
  }
}
.inner-section {
  padding: 0 2rem;
}

#container {
  margin-top: 70px;
  padding-left: 250px;
}

#container .contain-title {
  width: 100%;
  padding: 20px 30px;
  color: #1e2326;
  font-size: 3rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

#container .container_wr {
  position: relative;
  background-color: #fff;
}

#container .container_wr.ov-hidden {
  overflow: hidden;
}

#container .container_wr section:first-child {
  margin-top: 30px;
}

#container .container_wr section + section {
  margin-top: 60px;
}

#container .container_wr .box {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}

#container.container-small {
  padding-left: 50px;
}

@media (max-width: 1024px) {
  #container {
    padding-left: 0;
  }
}
.sign-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: #fff;
  flex-direction: column;
}

.sign-wrap .sign-area {
  max-width: 600px;
  width: 100%;
}

.sign-wrap .sign-top {
  width: 100%;
  background-color: #F4F4F4;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.sign-wrap .sign-top h2 {
  padding: 30px;
}

.sign-wrap .sign-top h2 img {
  display: block;
  margin: 0 auto;
}

.sign-wrap .sign-mid {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.sign-wrap .sign-mid .sign-link ul {
  display: flex;
}

.sign-wrap .sign-mid .sign-link li {
  width: 100%;
}

.sign-wrap .sign-mid .sign-link li .btn-link {
  display: block;
  padding: 1.6rem 0;
  position: relative;
  color: #464C53;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #b1b8be;
}

.sign-wrap .sign-mid .sign-link li.active .btn-link {
  color: #4158D1;
}

.sign-wrap .sign-mid .sign-link li .btn-link::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0;
  height: 0.4rem;
  background-color: #4158D1;
}

.sign-wrap .sign-mid .sign-link li.active .btn-link::before {
  width: 100%;
  left: 0;
  bottom: -0.1rem;
}

.sign-wrap .sign-mid .sign-cont {
  padding: 30px 50px;
}

.sign-wrap .sign-mid .tab li .btn-tab {
  color: #cdcdcd;
  font-size: 1.8rem;
  font-weight: 400;
}

.sign-wrap .sign-mid .tab li .btn-tab .svg-icon {
  background-color: #cdcdcd;
}

.sign-wrap .sign-mid .tab li.active .btn-tab {
  color: #4158D1;
}

.sign-wrap .sign-mid .tab li.active .btn-tab .svg-icon {
  background-color: #4158D1;
}

.sign-wrap .sign-mid .input-area {
  margin-top: 20px;
}

.sign-wrap .sign-mid .input-area .krds-form-check.medium > input[type=checkbox] ~ label:before {
  border-radius: 50%;
}

.sign-wrap .sign-mid .krds-btn.sign {
  background-color: #4158D1;
}

.sign-wrap .sign-mid .krds-btn.full {
  width: 100%;
}

.sign-wrap .sign-mid .find-area {
  margin-top: 20px;
  text-align: right;
}

.sign-wrap .sign-mid .find-area .find-btns a {
  display: inline-block;
  position: relative;
}

.sign-wrap .sign-mid .find-area .find-btns a:first-child {
  padding-right: 10px;
  margin-right: 5px;
}

.sign-wrap .sign-mid .find-area .find-btns a:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #dcdee5;
}

.sign-wrap .sign-mid .cont-bottom {
  display: flex;
  padding: 20px;
  background-color: #D8D8D8;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.sign-wrap .sign-mid .cont-bottom .cont-txt {
  font-size: 1.4rem;
}

.sign-wrap .sign-bottom {
  margin-top: 20px;
  text-align: center;
}

.sign-wrap .btn-wrap {
  margin-top: 20px;
}

.sign-wrap .find-txt {
  font-size: 2rem;
  text-align: center;
}

.sign-wrap .find-txt .find-id {
  margin-top: 10px;
  padding: 10px;
  color: #4158D1;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.w100 {
  width: 10rem;
}

.flex {
  display: flex;
}

.alc {
  align-items: center;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

.mla {
  margin-left: auto;
}

.mt10 {
  margin-top: 1rem !important;
}

.mt20 {
  margin-top: 2rem !important;
}

.tlt {
  text-align: left !important;
}

.tct {
  text-align: center;
}

.jcc {
  justify-content: center;
}

.btn-group.jcs {
  justify-content: space-between;
}

.btn-group.jcc {
  justify-content: center;
}

.btn-group.jce {
  justify-content: flex-end;
}

.b-line {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cdd1d5;
}

.fw700 {
  font-weight: 700;
}

p.small {
  font-size: 1.4rem;
}

.krds-input[readonly] {
  background-color: #f3f3f3;
}

.sel-group select:first-child {
  width: 12rem;
}

.flex-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-gap-5);
  width: 100%;
}

.input-group {
  gap: 1rem;
}

.input-group dl,
.form-group dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-group dl dt,
.form-group dl dt {
  width: 12rem;
}

.input-group dl dd,
.form-group dl dd {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-group.range > li:not(.mark) {
  flex: 1 1 0px;
}

.svg-icon.small {
  width: 2rem;
  height: 2rem;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
}

.table-group {
  margin-top: 6rem;
}

.table-group .table-top {
  padding-bottom: 2rem;
  border-bottom: 1px solid #d9d9d9;
}

.table-group .krds-table-wrap {
  margin-top: 2.5rem;
}

.input-group.range > li.mark {
  height: 4rem;
}

.btn-gruop {
  position: relative;
}

#jc-footer {
  display: flex;
  height: 60px;
  margin-top: 6rem;
  padding-left: 60px;
  background-color: #fff;
  color: #000;
  align-items: center;
  border-top: 1px solid #ddd;
  justify-content: center;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  z-index: 1000;
}

.side-menu.is-open {
  visibility: visible;
  right: 0;
}

.side-menu.is-open::after {
  display: block;
  opacity: 1;
}

.side-menu::after {
  display: none;
  opacity: 0;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7490196078);
  transition: opacity 0.5s 0.1s;
}

.side-menu .side-wrap {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
}

.side-menu .board-container {
  padding: 2rem;
  overflow-y: scroll;
}

.side-menu .top-btn {
  padding: 1rem;
  position: absolute;
  top: 6rem;
  left: -4.4rem;
  background-color: #fff;
  font-size: 0;
}

.krds-pagination.type02 .page-navi.prev-start,
.krds-pagination.type02 .page-navi.next-end,
.krds-pagination.type02 .page-navi.prev,
.krds-pagination.type02 .page-navi.next {
  width: 3.4rem;
  height: 3.4rem;
  padding: 0;
  border: 1px solid #d9d9d9;
}

.krds-pagination.type02 .page-navi.prev-start::before,
.krds-pagination.type02 .page-navi.next-end::after {
  content: "";
  display: inline-flex;
  width: var(--krds-icon--size-medium);
  height: var(--krds-icon--size-medium);
  background-color: #b5b6b8;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.krds-pagination.type02 .page-navi.prev::before {
  background-color: #b5b6b8;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_pagination.svg);
  transform: rotate(180deg);
}

.krds-pagination.type02 .page-navi.next::after {
  background-color: #b5b6b8;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_pagination.svg);
  transform: rotate(0);
}

.krds-pagination.type02 .page-navi.prev-start::before {
  mask-image: url(../../images/jobcloud/component/icon/ico_pagination02.svg);
  transform: rotate(180deg);
}

.krds-pagination.type02 .page-navi.next-end::after {
  mask-image: url(../../images/jobcloud/component/icon/ico_pagination02.svg);
}

.krds-pagination.type02 .page-links .page-link {
  width: 3.4rem;
  height: 3.4rem;
  border: 1px solid #d9d9d9;
}

.krds-pagination.type02 .page-links .page-link.active {
  background-color: #4158d1;
  color: #fff;
  border-color: #4158d1;
}

.krds-pagination.type02 .page-navi.prev-start {
  order: 1;
}

.krds-pagination.type02 .page-navi.prev {
  order: 2;
}

.krds-pagination.type02 .page-links {
  order: 3;
}

.krds-pagination.type02 .page-navi.next {
  order: 4;
}

.krds-pagination.type02 .page-navi.next-end {
  order: 5;
}

@media (max-width: 767px) {
  .krds-pagination.type02 .page-navi.prev-start {
    order: 1;
  }
  .krds-pagination.type02 .page-navi.prev {
    order: 2;
  }
  .krds-pagination.type02 .page-navi.next {
    order: 3;
  }
  .krds-pagination.type02 .page-navi.next-end {
    order: 4;
  }
  .krds-pagination.type02 .page-links {
    order: 5;
  }
}
.krds-btn.small .ico-all {
  width: 20px;
  height: 20px;
}

.krds-btn.small .ico-plus02 {
  width: 1.2rem;
  height: 1.2rem;
}

.svg-icon.right {
  margin-right: 0.5rem;
}

.svg-icon.left {
  margin-left: 0.5rem;
}

.krds-btn.link {
  color: #464c53;
}

.krds-btn.link:visited {
  color: #464c53;
}

.krds-btn.link.small {
  font-size: 1.6rem;
}

.krds-btn.full {
  width: 100%;
}

.krds-btn.md {
  min-width: 10rem;
}

.krds-btn.small .ico-angle02 {
  width: 14px;
  height: 14px;
  margin-left: 1rem;
}

.krds-btn.search {
  width: 9rem;
  background-color: #4158d1;
  border-color: #4158d1;
  color: #fff;
}

.krds-btn.delete {
  background-color: #fff;
  border-color: #f63d2e;
  color: #f63d2e;
}

.krds-btn.delete .svg-icon {
  background-color: #f63d2e;
}

.krds-btn.filter {
  width: 12rem;
  background-color: #1e2326;
  border-color: #1e2326;
  color: #fff;
}

.krds-tooltip.preview .svg-icon.ico-preview {
  width: 1.6rem;
  height: 1.6rem;
}

.krds-btn.nomal {
  background-color: #fff;
  border-color: #d9d9d9;
  color: #000;
}

.krds-btn.nomal .svg-icon {
  background-color: #000;
}

.krds-btn.type02 {
  padding: 0 1.6rem;
  background-color: #4158D1;
  border-color: #4158D1;
  color: #fff;
}

.krds-btn.type03 {
  background-color: #ececec;
  border-color: #ececec;
  color: #000;
}

.krds-btn.type03 .svg-icon {
  background-color: #000;
}

.krds-btn.type04 {
  background-color: #fff;
  border-color: #99B2F9;
  color: #99B2F9;
}

.krds-btn.type04 .svg-icon {
  background-color: #99B2F9;
}

.krds-btn.type05 {
  background-color: transparent;
  border-color: transparent;
  color: #4158D1;
}

.krds-btn.type05 .svg-icon {
  background-color: #4158D1;
}

.krds-btn.type06 {
  background-color: #fff;
  border-color: #4158D1;
  color: #4158D1;
}

.krds-btn.type06 .svg-icon {
  background-color: #4158D1;
}

.krds-btn.active .svg-icon.ico-public {
  background-color: #d7d8d9;
  mask-image: url(../../images/jobcloud/component/icon/ico_public_off.svg);
}

.krds-btn .svg-icon.ico-angle02 {
  background-color: #6c6e72;
}

.krds-btn .svg-icon.ico-del02 {
  background-color: #d7d8d9;
}

.krds-btn:hover .svg-icon.ico-del02 {
  background-color: #ff3d42;
}

.krds-form-select.type02 {
  background-size: 2rem !important;
  background-image: url(../../images/jobcloud/component/icon/ico_angle03.svg);
}

.krds-btn-tag.unused {
  background-color: #afafaf;
  color: #fff;
}

.svg-icon.ico-download {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_download.svg);
}

.svg-icon.ico-plus02 {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_plus02.svg);
}

.svg-icon.ico-angle02 {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_angle02.svg);
}

.svg-icon.ico-public {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_public.svg);
}

.svg-icon.ico-del02 {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_del.svg);
}

.svg-icon.ico-filter02 {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_filter02.svg);
}

.svg-icon.ico-preview {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_preview.svg);
}

.svg-icon.ico-sort {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_sort.svg);
}

.svg-icon.ico-sort-up {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_sort_up.svg);
}

.svg-icon.ico-sort-down {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_sort_down.svg);
}

.svg-icon.ico-delete02 {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_delete02.svg);
}

.svg-icon.ico-phone {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_phone.svg);
}

.svg-icon.ico-drag {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_drag.svg);
}

.svg-icon.ico-line {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_line.svg);
}

.svg-icon.ico-password {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_password.svg);
}

.svg-icon.ico-open-box {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_open_box.svg);
}

.svg-icon.ico-close-box {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_close_box.svg);
}

.svg-icon.ico-sub-directory {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_sub_directory.svg);
  background-color: #999999;
}

.svg-icon.ico-minus {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_minus.svg);
}

.svg-icon.ico-menu {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_menu.svg);
}

.svg-icon.ico-click {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../../images/jobcloud/component/icon/ico_click.svg);
}

.items-group {
  margin-top: 3rem;
  padding: 1.6rem;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.items-group .filter-item {
  display: none;
}

.items-group > .item:first-child {
  padding: 0;
  margin: 0;
  border: 0;
}

.items-group .item {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 1px solid #d9d9d9;
}

.items-group .item-d-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.items-group .item-d-group dl {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  gap: 1rem;
}

.items-group dl dt {
  width: 12rem;
  flex-shrink: 0;
  font-weight: 700;
}

.items-group .krds-form-check input[type=checkbox]:checked ~ label:before {
  background-color: #1e2326;
  border-color: #1e2326;
}

.items-group .krds-form-check input[type=radio]:checked ~ label:before {
  border-color: #1e2326;
}

.items-group .krds-form-check input[type=radio]:checked ~ label:after {
  background-color: #1e2326;
}

.switch-group {
  display: flex;
}

.switch-group input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-group label {
  display: flex;
  width: 10rem;
  height: 4rem;
  margin-left: -1px;
  background-color: #fff;
  color: #b4b4b4;
  font-size: 1.6rem;
  line-height: 1;
  border: 1px solid #d9d9d9;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.switch-group input:checked + label {
  background-color: #1e2326;
  color: #fff;
}

.switch-group label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.switch-group label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.table-group .total {
  padding-left: 1rem;
  font-size: 1.8rem;
}

.krds-table-wrap {
  overflow-x: auto;
}

.krds-table-wrap.full table {
  min-width: 100% !important;
  width: 100% !important;
}

.krds-table-wrap.tbl-type table {
  min-width: 1400px;
  width: 100%;
}

.krds-table-wrap.tbl-type table.min-full {
  min-width: 100%;
}

.krds-table-wrap.tbl-type .tbl.data thead th {
  padding: 1.6rem 1rem;
  background-color: #f4f4f4;
  color: #1e2326;
  font-weight: 500;
  border-bottom: 0;
  text-align: center;
}

.krds-table-wrap.tbl-type .tbl.data tbody td,
.krds-table-wrap.tbl-type .tbl.data tbody th {
  text-align: center;
}

.krds-table-wrap .tbl.data thead th:first-child {
  border-radius: 10px 0 0 0;
}

.krds-table-wrap .tbl.data thead th:last-child {
  border-radius: 0 10px 0 0;
}

.krds-table-wrap.tbl-type02 .tbl.data thead th,
.krds-table-wrap.tbl-type02 .tbl.data tbody td {
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
}

.krds-table-wrap.tbl-type02 .tbl.data thead th {
  color: #fff;
  background: #70747b;
}

.krds-table-wrap.tbl-type02 tbody tr:nth-child(odd) td {
  background: #fff;
}

.krds-table-wrap.tbl-type02 tbody tr:nth-child(even) td {
  background: #f6f7f8;
}

.krds-table-wrap.tbl-type .detail {
  display: none;
}

.krds-table-wrap.tbl-type .ellip {
  display: flex;
}

.krds-table-wrap.tbl-type .ellip a {
  max-width: calc(100% - 50px);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.krds-table-wrap.tbl-type .krds-tooltip.preview + .krds-tooltip-popover::before {
  background-color: #6c6d72;
}

.krds-table-wrap.tbl-type .krds-tooltip.preview + .krds-tooltip-popover {
  background-color: #6c6d72;
}

.krds-table-wrap.tbl-type .krds-tooltip.preview:focus {
  outline: none;
  box-shadow: none;
}

.krds-table-wrap.tbl-type button {
  vertical-align: sub;
}

.krds-table-wrap.scroll {
  height: 420px;
  overflow: auto;
}

.krds-table-wrap.scroll::-webkit-scrollbar {
  width: 8px;
}

.krds-table-wrap.scroll::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 10px;
}

.krds-table-wrap.scroll table {
  border-collapse: collapse;
}

.krds-table-wrap.scroll table > thead > tr {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.sort-controls {
  position: relative;
}

.sort-options {
  display: none;
  min-width: 29rem;
  padding: 1.2rem;
  position: absolute;
  top: 5rem;
  left: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  z-index: 10;
}

.sort-options .sort-list ul {
  margin-bottom: 2rem;
}

.sort-options .sort-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-options .sort-list li + li {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #d9d9d9;
}

.sort-group {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #d9d9d9;
}

.sort-group .sort-container {
  display: flex;
  gap: 0.5rem;
}

.sort-group .sort-container .svg-icon.ico-sort-up {
  width: 1.4rem;
  height: 1.4rem;
}

.sort-group .sort-container .svg-icon.ico-sort-down {
  width: 1.4rem;
  height: 1.4rem;
}

.krds-modal.modal-type02 .modal-dialog .modal-header {
  padding: 2rem;
  border-bottom: 1px solid #ddd;
}

.krds-modal.modal-type02 .modal-dialog .modal-conts {
  padding: 2rem;
}

.krds-modal.modal-type02 .conts-area .cont {
  padding: 2rem;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.krds-modal .modal-dialog .modal-btn.jcc {
  justify-content: center;
}

.krds-modal .form-pop-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.krds-modal .form-pop-group .item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.krds-modal .form-pop-group .item .form-tit {
  width: 10rem;
  font-weight: 500;
}

.krds-modal .form-pop-group .item .form-conts {
  width: 100%;
}

.krds-modal .table-container {
  overflow-x: auto;
}

.krds-form-check.small > input[type=checkbox] ~ label,
.krds-form-check.small > input[type=radio] ~ label {
  font-size: 1.4rem;
}

.krds-form-check.small > input[type=checkbox] ~ label:before,
.krds-form-check.small > input[type=radio] ~ label:before {
  width: 1.6rem;
  height: 1.6rem;
}

.krds-form-check.small > input[type=checkbox] ~ label:after {
  width: 1rem;
  height: 1rem;
  left: 0.3rem;
  top: 0.6rem;
}

.krds-check-area {
  gap: 1rem 2rem;
}

.tabs {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

.tabs li a {
  display: block;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  width: 120px;
  position: relative;
  text-align: center;
  background-color: #99B2F9;
  border: 1px solid #89a8fe;
  border-bottom: 0;
  color: #fff;
}

.tabs li a::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #fff;
}

.tabs li.active a {
  background-color: #fff;
  color: #256EF4;
}

.tree-container li > div,
#s-l-base li > div {
  display: flex;
  min-height: 5.4rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem 1rem 4rem;
  background-color: #fff;
  border: 1px solid #dddddd;
  position: relative;
  font-size: 1.4rem;
  align-items: center;
}

.tree-container ul li, #s-l-base ul li {
  margin-left: 30px;
  position: relative;
}

.tree-container > ul > li,
#s-l-base > ul > li {
  margin-left: 0;
}

.tree-container li > div:only-child .tree-cont button,
#s-l-base li > div:only-child .tree-cont button {
  display: none;
}

.tree-container li > div:not(:only-child) .tree-cont .tree-line,
#s-l-base li > div:not(:only-child) .tree-cont .tree-line {
  display: none;
}

.tree-container .tree-cont,
#s-l-base .tree-cont {
  display: flex;
  position: absolute;
  width: 3rem;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #EFEFEF;
  align-items: center;
  justify-content: center;
}

.tree-container .tree-cont .svg-icon.ico-angle02,
#s-l-base .tree-cont .svg-icon.ico-angle02 {
  width: 1.4rem;
  background-color: #999999;
  transform: rotate(-90deg);
}

.tree-container .tree-cont .svg-icon.ico-line,
#s-l-base .tree-cont .svg-icon.ico-line {
  width: 1.4rem;
  background-color: #999999;
}

.tree-container .s-l-open > div .tree-cont .svg-icon.ico-angle02,
#s-l-base .s-l-open > div .tree-cont .svg-icon.ico-angle02 {
  transform: rotate(0);
}

.tree-container .s-l-open > ul {
  display: block;
}

.tree-container ul li ul {
  display: none;
}

.tree-container .right,
#s-l-base .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tree-container .tree-menu {
  display: none;
}

.tree-container ul > li > div:hover .tree-menu {
  display: block;
}

.tree-container .disabled {
  opacity: 0.5;
}

.inner-section.in-between {
  display: flex;
  gap: 2rem;
}

.board-container.full {
  width: 100%;
}

.board-container > div + div {
  margin-top: 2rem;
}

.sub-menu {
  width: 360px;
  flex-shrink: 0;
}

.sub-menu .sticky-box {
  position: sticky;
  top: 8rem;
}

.sub-menu .krds-file-upload {
  gap: 1rem;
}

.sub-menu .krds-file-upload .file-upload {
  padding: 2rem 1rem;
  gap: 1rem;
}

.sub-menu .krds-file-upload .file-upload .txt {
  font-size: 1.4rem;
}

.sub-menu .krds-file-upload .file-list .upload-list > li {
  padding: 1rem;
}

.sub-menu .board-cont .krds-file-upload .file-list .upload-list .file-info .file-name {
  font-size: 1.4rem;
}

.board-cont {
  display: flex;
  padding: 3rem 3rem 1rem;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.board-cont .board-tit {
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #b1b1b1;
}

.board-cont .board-tit .tit {
  font-size: 1.8rem;
  font-weight: 700;
}

.board-cont .item {
  display: flex;
  padding: 1.6rem 0;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
}

.board-cont .item:last-child {
  border-bottom: 0;
}

.board-cont .item.item-col .b-item {
  flex-direction: column;
  gap: 1rem;
}

.board-cont .item.item-col .tit {
  width: 100%;
}

.board-cont .item.item-col .cont {
  width: 100%;
}

.board-cont .item .b-item.form-group {
  flex-direction: row;
}

.board-cont .item .tit {
  width: 12rem;
  font-weight: 500;
  flex-shrink: 0;
}

.board-cont .item .b-item.form-group .cont {
  flex: none;
}

.board-cont .item .cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.board-cont .item .cont.full {
  width: 100%;
}

.board-cont .item .cont.half {
  width: 50%;
}

.board-cont .item .cont .c-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.board-cont .item .b-item {
  display: flex;
  align-items: baseline;
  flex: 1 1 0;
  gap: 1rem;
}

.board-cont .marking {
  color: #ff2e2e;
}

.radio-target-item {
  display: none;
}

.form-group [class^=form-hint-]::before {
  flex-shrink: 0;
}

.board-cont .krds-file-upload .file-list .upload-list .file-info .file-name {
  color: #8a949e;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.template-cont {
  width: 25rem;
  margin-top: 1rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

.template-cont ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.template-cont ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.template-cont ul li .tpl-img {
  width: 6rem;
  height: 6rem;
  border: 1px solid #d9d9d9;
  flex-shrink: 0;
}

.template-cont ul li .tpl-img img {
  width: 100%;
  height: 100%;
}

.template-cont ul li .tpl-text p {
  display: -webkit-box;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.template-cont ul li .tpl-text .tpl-tit {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 1140px) {
  .inner-section.in-between {
    flex-direction: column;
  }
  .sub-menu {
    width: 100%;
  }
}
.drop-cont {
  display: none;
}

.drop-sel-cont {
  display: none;
}/*# sourceMappingURL=main.css.map */