// :root {
//     --krds-pc-font-size-body-medium: 1.6rem;
//     --krds-pc-font-size-body-large: 1.6rem;
//     --krds-pc-font-size-label-medium: 1.6rem;
//     --krds-pc-font-size-label-small: 1.6rem;
//     --krds-pc-font-size-heading-xxsmall: 1.6rem;
//     --krds-pc-font-size-label-xsmall: 1.2rem;
//     --krds-pc-font-size-label-large: 2rem;
//     --krds-light-color-input-border: #d9d9d9;
// }
// html {overflow: hidden;}
// body {font-size: 1.6rem;}
// textarea.krds-input {font-size: 1.6rem;}
html {
    overflow: hidden;
}

body {
    font-size: $font-size-body-medium;
}

textarea.krds-input {
    font-size: $font-size-body-medium;
}