:root {
    --krds-pc-font-size-body-medium: 1.6rem;
    --krds-pc-font-size-label-medium: 1.6rem;
    --krds-pc-font-size-heading-xxsmall: 1.6rem;
    --krds-pc-font-size-label-large: 2rem;
    --krds-light-color-input-border: #d9d9d9;
}
body { max-width: 1920px;  font-size: 1.6rem;}