// 폰트 관련 변수
$font-size-body-medium: 1.6rem;
$font-size-body-large: 1.6rem;
$font-size-label-medium: 1.6rem;
$font-size-label-small: 1.6rem;
$font-size-heading-xxsmall: 1.6rem;
$font-size-label-xsmall: 1.2rem;
$font-size-label-large: 2rem;
$font-size-textarea-small: 1.4rem;

// 색상 관련 변수
$input-border-color: #d9d9d9;

// 체크박스 관련 변수
$font-size-check-label-small: 1.4rem;
$check-size-small: 1.6rem;
$check-mark-size-small: 1rem;
$check-mark-left-small: 0.3rem;
$check-mark-top-small: 0.6rem;
$check-area-gap-row: 1rem;
$check-area-gap-col: 2rem;

// 텍스트 영역 관련 변수
$height-textarea-small: 12rem;