// scss/common/_variables.scss

/* 폰트 관련 변수 */
$base-font-size: 1.6rem;
$small-font-size: 1.4rem;
$xsmall-font-size: 1.2rem;
$large-font-size: 2rem;

/* 색상 관련 변수 */

/* 간격 관련 변수 */

/* 체크박스 관련 변수 */

/* 텍스트 영역 관련 변수 */

/* 아이템 그룹 관련 변수 */

/* 모달 관련 변수 */

/* 페이지네이션 관련 변수 */

/* 반응형 관련 변수 */

/* 정렬 관련 변수 */

/* 별점 메뉴 관련 변수 */

/* 스텝 관련 변수 */

/* 스위치 관련 변수 */
