.file-group {
    display: flex;
    gap: 1rem;
}
.file-group .file-info {
 display: flex;
 width: 100%;
 align-items: center;
 gap: 1.6rem;
 padding: 0 1.6rem;
 background-color: #fff;
 color: #8a949e;
 border: 1px solid #d9d9d9; 
}
.file-group .file-info.small {
 height: 4rem;
 border-radius: 0.6rem;
 font-size: 1.6rem;
}
.file-group .file-name {
 flex: 1;
 display: -webkit-box;
 overflow: hidden;
 text-overflow: ellipsis;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1;
}
.file-group .btn-wrap {
width: auto;
}
.krds-file-upload .file-list .upload-list {
    gap: 1rem;
  }
  .krds-file-upload .file-list .upload-list>li {
    padding: 0 1.6rem;
  }
  .krds-file-upload .file-list .upload-list .file-info {
    height: 4rem;
  }