#jc-header.header-small .krds-tooltip-popover.active {display: none;}
#jc-header .gnb-item.active .krds-tooltip-popover.active {display: none;}
#jc-header .main-menu .krds-btn {font-size: 2rem;}
#jc-header .main-menu .krds-btn:focus { outline: auto; outline-color: #3679F4; box-shadow: none; } 
#jc-header .header-top { display: flex; width: 100%; height: 70px; position: fixed; top: 0; left: 0; background-color: #efefef; flex-wrap: wrap; align-items: center; z-index: 200;box-shadow:rgba(0, 0, 0, 0.45) 0 0px 6px -2px;} 
#jc-header .header-top .ht-logo { display: flex; width: 180px; align-items: center; justify-content: center; } 
#jc-header .header-top .ht-logo img { vertical-align: baseline; } 
#jc-header .header-top .ht-util { margin-left: auto; margin-right: 10px;} 
#jc-header .header-top .ht-util .util-list {display: flex; gap: 10px;} 
#jc-header .header-top .ht-util .krds-drop-wrap {width: 100%;}
#jc-header .header-top .util-button { width: 100%; height: 30px; background: #1e2326; color: #fff; border-radius: 30px; border: 1px solid #1e2326; font-size: 14px; font-weight: 500; } 
#jc-header .header-top .drop-btn.util-button { background-color: #fff; color: #000; border-color: #d9d9d9; } 
#jc-header .header-top .drop-btn.util-button .svg-icon {background-color: #6c6e72;}
#jc-header .header-top .ht-util .drop-menu { padding: 0; background-color: #f4f4f4; } 
#jc-header .header-top .ht-util .drop-list .item-link { height: 30px; background-color: #f4f4f4; color: #000; font-size: 14px; justify-content: center; } 
#jc-header .header-top .ht-util .drop-menu .drop-list li + li { border-top: 1px solid #d9d9d9; } 
#jc-header .header-top .btn-gnb { width: 50px; height: 70px; margin-right: 10px; background-color: #7196ff; border-radius: 0; } 
#jc-header .header-top .btn-gnb.open .ico-hd-menu { mask-image: url(../../images/jobcloud/component/icon/ico_head_menu_op.svg); } 
#jc-header .header-top .ico-hd-menu { width: 24px; height: 24px; background-color: #fff; mask-image: url(../../images/jobcloud/component/icon/ico_head_menu_cl.svg); mask-repeat: no-repeat; } 

#jc-header .main-menu { max-width: 250px; height: 100%; margin-top: 20px; padding-top: 70px; position: fixed; top: 0; left: 0; background-color: #99B2F9; z-index: 150; } 
#jc-header .main-menu .gnb-list { width: 50px; height: 100%; position: relative;  } 
#jc-header .main-menu .gnb-item.active .krds-btn { background-color: #F4F4F4; } 
#jc-header .main-menu .gnb-item .krds-btn { width: 50px; height: 50px; border-radius: 0; } 
#jc-header .main-menu .gnb-item.active .ico-nav { background-color: #1e2326; } 
#jc-header .main-menu .krds-tooltip-popover::before { background-color: #4158d1; } 
#jc-header .main-menu .krds-tooltip-popover { background-color: #4158d1; } 
#jc-header .main-menu .ico-nav { background-color: #f7f7f7; mask-repeat: no-repeat; } 
#jc-header .main-menu .gnb-item.active .gnb-depth { display: block; } 
#jc-header .main-menu .gnb-depth { display: none; width: 200px; height: 100%; padding: 10px 20px; position: absolute; top: 0; left:50px; background-color: #F4F4F4; } 
#jc-header .main-menu .gnb-depth::before {content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: -100%; background-color: #F4F4F4;} 
#jc-header .main-menu .krds-side-navigation h3 {color: #1e2326; font-size: 2rem;} 
#jc-header .main-menu .krds-side-navigation {padding: 0;}
#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-btn {padding: 1.2rem 1rem; color: #1e2326; font-size: 1.6rem;font-weight: 400;}
#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-submenu-lv2 {background-color: #F4F4F4;}
#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-submenu-lv2 .lnb-btn-tit {font-size: 1.6rem;}
#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item.active .lnb-submenu {padding: 0;}
#jc-header .main-menu .krds-side-navigation .lnb-list>li>.lnb-btn::before {background-color: #4158D1;}
#jc-header .main-menu .krds-side-navigation .lnb-list .lnb-item .lnb-submenu .lnb-btn {padding: 0.5rem; font-size: 1.4rem;}

#jc-header.header-small .header-top {box-shadow:rgba(0, 0, 0, 0.45) 50px 0px 6px -2px;}
#jc-header.header-small .main-menu .gnb-item:hover .gnb-depth,
#jc-header.header-small .main-menu .gnb-item.active:hover .gnb-depth { display: block; } 
#jc-header.header-small .main-menu .gnb-item.active .gnb-depth { display: none; } 

#jc-header .header-top .btn-navi { display: none; margin-left: auto; flex-direction: column; align-items: center; } 
#jc-header .header-top .btn-navi::before { content: ""; display: inline-flex; width: var(--krds-icon--size-medium); height: var(--krds-icon--size-medium); background-color: var(--krds-light-color-text-basic); -webkit-mask-repeat: no-repeat; -webkit-mask-position: center center; -webkit-mask-size: contain; mask-repeat: no-repeat; mask-position: center center; mask-size: contain; mask-image: url(../../images/jobcloud/component/icon/ico_all.svg); forced-color-adjust: none; } 

#jc-header .mobile-menu { position: fixed; top: 0; right: -100%; z-index: 100; width: 100%; height: 100%; visibility: hidden; z-index: 300; transition: all 0.5s ease-in-out; } 
#jc-header .mobile-menu::after { opacity: 0; content: ""; position: fixed; top: 0; right: 0; width: 100%; height: 100%; background-color: #000000bf; } 
#jc-header .mobile-menu.is-open::after { opacity: 1; } 
#jc-header .mobile-menu.is-open { visibility: visible; right: 0; } 
#jc-header .mobile-menu #close-mobile-nav { position: absolute; top: 2rem; right: 2rem; } 
#jc-header .mobile-menu #close-mobile-nav .svg-icon { background-color: #fff; } 
#jc-header .mobile-menu .gnb-wrap { display: flex; align-items: normal; justify-content: flex-start; flex-direction: column; position: absolute; top: 0; right: 0; height: 100%; width: 40rem; background-color: #fff; z-index: 5; } 
#jc-header .mobile-menu .gnb-wrap .gnb-wrap-inner { display: flex; align-items: normal; justify-content: flex-start; flex-direction: column; height: 100%; } 
#jc-header .mobile-menu .gnb-wrap .gnb-header { padding: 2rem; background-color: #4158d1; } 
#jc-header .mobile-menu .gnb-header .m-logo { width: 20rem; } 
#jc-header .mobile-menu .gnb-header .m-logo a { display: flex; } 
#jc-header .mobile-menu .gnb-header .gnb-utils { margin: 4rem 0 2rem; } 
#jc-header .mobile-menu .gnb-header .gnb-utils .mo-login a { color: #fff; } 
#jc-header .mobile-menu .gnb-header .gnb-utils .mo-login .ico-angle02 { background-color: #fff; transform: rotate(-90deg); } 
#jc-header .mobile-menu .gnb-body { overflow-y: auto; } 
#jc-header .mobile-menu .gnb-body .gnb-sub-wrap { padding: 0 2rem; } 
#jc-header .mobile-menu .gnb-body .krds-side-navigation { display: flex; flex-direction: column; gap: 3rem; } 
#jc-header .mobile-menu .gnb-body .krds-side-navigation h3 { display: flex; align-items: center; gap: 1rem; padding: 1rem 0; color: #000; font-size: 1.8rem; border-bottom: 0; } 
#jc-header .mobile-menu .gnb-body .krds-side-navigation .ico-mo-nav { display: flex; align-items: center; justify-content: center; width: 2.8rem; height: 2.8rem; background-color: #828f9d; border-radius: 50%; } 
#jc-header .mobile-menu .gnb-body .krds-side-navigation .ico-mo-nav .svg-icon { background-color: #fff; } 
#jc-header .mobile-menu .gnb-body .krds-side-navigation .lnb-btn { font-size: 1.6rem; font-weight: 500; } 

@media (max-width: 1400px) { 
    #jc-header .header-top {
        padding: 0 1.6rem;
    }
    #jc-header .header-top .ht-util {
        display: none;
    }
    #jc-header .header-top .btn-gnb {
        display: none;
    }
    #jc-header .main-menu {
        display: none;
    }
    #jc-header .header-top .btn-navi {
        display: flex;
    }
}
@media (max-width: 768px) { 
    #jc-header .mobile-menu .gnb-wrap {
        width: 100%;
    }
}