.items-group {
  margin-top: 3rem;
  padding: 1.6rem;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}
.items-group .filter-item {
  display: none;
}
.items-group > .item:first-child {
  padding: 0;
  margin: 0;
  border: 0;
}
.items-group .item {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 1px solid #d9d9d9;
}
.items-group .dl-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}  
.items-group .dl-group dl {
  align-items: center;
  flex: 1 1 40%;
  gap: 1rem;
  display: flex;
  min-width: 15rem;
}
.items-group dl dt {
  width: 12rem;
  flex-shrink: 0;
  font-weight: 500;
}


.items-group .krds-form-check input[type=checkbox]:checked~label:before {background-color: #1e2326;border-color: #1e2326; } 
.items-group .krds-form-check input[type=radio]:checked~label:before {border-color: #1e2326;}
.items-group .krds-form-check input[type=radio]:checked~label:after {background-color: #1e2326;}

@media (max-width: 768px) {
  .items-group .filter-item .sel-group select:first-child {
    width: 100%;
  }
  .items-group .filter-item .calendar-conts {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .items-group .sel-group select:first-child {
    width: 100%;
  }
  .items-group > .input-group {
    flex-wrap: wrap;
  }
  .items-group > .input-group .btn-group {
    margin-left: auto;
  }
  .items-group .dl-group dl {
    flex-direction: column;
  }
  .items-group dl dt {
    width: 100%;
  }
  .items-group dl dd {
    width: 100%;
  }
}