.rank-group ul {
  display: flex;
  gap: 1rem;
}
.rank-group ul.half {
  flex-wrap: wrap;
}
.rank-group ul.half li {
  flex-basis: calc(50% - 1rem);
}
.rank-group li {
  width: 100%;
  position: relative;
}
.rank-group .rank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #595959;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  z-index: 1;
}
.rank-group input {
padding: 0 1.6rem 0 6rem;
}
@media (max-width: 640px){
  .rank-group ul {
    flex-direction: column;
  }
}