.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  z-index: 1000;
}
.side-menu.is-open {                
  visibility: visible;
  right: 0;
}
.side-menu.is-open::after {
  display: block;
  opacity: 1;
}
.side-menu::after {
    display: none;
    opacity: 0;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bf;
    transition: opacity 0.5s 0.1s;
}
.side-menu .side-wrap {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    width: 72rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;                  
    background-color: #fff;
}
.side-menu .board-container {
  padding: 2rem;
  overflow-y: scroll;
}
.side-menu .top-btn {
  padding: 1rem;
  position: absolute;
  top: 6rem;
  left: -4.4rem;
  background-color: #fff;
  font-size: 0;
}
@media (max-width: 1024px){
  .side-menu .side-wrap {
    width: 100%;
  }
  .side-menu .top-btn {
    position: static;
    margin-left: auto;
  }
}
@media (max-width: 640px){
  .side-menu .board-container {
    padding: 1rem;
  }
}