
 
 .board-container { display: flex; flex-direction: column; gap: 2rem; } 
 .board-container.full {width: 100%;}
 .board-container.board-col {
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 1024px){
  .board-container.board-col {
    flex-direction: column;
  }
  .board-container.board-col .board-cont {
    width: 100%;
  }
}
 .sub-menu { width: 360px; flex-shrink: 0;} 
 .sub-menu .sticky-box { display: flex; flex-direction: column; position: sticky; top: 8rem; gap: 2rem;} 
 .sub-menu .krds-file-upload {
  gap: 1rem;
 }
 .sub-menu .board-cont .item .tit { width: 10rem;} 

 .board-cont { display: flex; padding: 3rem 3rem 1rem; flex-direction: column; border: 1px solid #ddd; border-radius: 1rem; box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; } 
 .board-cont .board-tit { display: flex; padding-bottom: 2rem; justify-content: space-between; gap: 1rem; align-items: center; border-bottom: 1px solid #b1b1b1; } 
 .board-cont .board-tit.col-tit {flex-direction: column; align-items: flex-start;}
 .board-cont .board-tit .tit { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; word-break: break-all; font-size: 2rem; font-weight: 700; line-height: 4rem; } 
 .board-cont .item { display: flex; flex-wrap: wrap; padding: 1.6rem 0; align-items: center; gap: 1rem 2rem; border-bottom: 1px solid #ddd; } 
 .board-cont .item.half {flex-wrap: wrap;}
 .board-cont .item.half .cont {width: calc(50% - 1rem); flex: initial;}
 .board-cont .item:last-child { border-bottom: 0; } 
 .board-cont .item .b-item.half {flex-basis: calc(50% - 1rem);}
 .board-cont .item.item-col .b-item { flex-direction: column; gap: 1rem; } 
 .board-cont .item.item-col .tit { width: 100%; } 
 .board-cont .item.item-col .tit > label {line-height: 4rem;}
 .board-cont .item.item-col .cont { width: 100%; } 
 .board-cont .item .tit {display: flex; align-items: center; width: 12rem; font-weight: 500; flex-shrink: 0; letter-spacing: -1px;} 
 .board-cont .item .b-item.full {width: 100%; flex: auto;}
 .board-cont .item .cont {display: flex; width: 100%; flex-direction: column; gap: 1rem;} 
 .board-cont .item .cont.full {width: 100%;}
 .board-cont .item .cont .c-item {display: flex; gap: 1rem;}
 .board-cont .item .cont .c-item.full {width: 100%;}
.board-cont .item .b-item { display: flex; flex: 1 1 40%; gap: 1rem;}

 .board-cont .marking { color: #ff2e2e; line-height: inherit;} 


.board-cont .c-item-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.board-cont .c-item-list ul li {
  display: flex;
  gap: 1rem;
}
.board-cont .c-item-list ul li:not(:first-child) {
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}
.board-cont .c-item-list ul li.list-col {
  flex-direction: column;
}
.board-cont .c-item-list .c-item select {
  width: auto;
}
.board-cont .c-item-list .btn-wrap {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.board-cont .sel-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.board-cont .sel-list-wrap .sel-list {
  width: 18rem;
}
.board-cont .sel-list-wrap .sel-item {
  display: flex;
  gap: 1rem;
}
.board-cont .sel-list-wrap .sel-item:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.board-cont .sel-list-wrap .list-option {
  height: inherit;
}
.board-cont .sel-list-wrap .list-option > li {
    display: none;
    height: 100%;
}
.board-cont .sel-list-wrap .krds-check-area {
  display: flex;
  height: 100%;
  align-items: center;
}












 @media (max-width: 1140px){
 .inner-section.in-between { flex-direction: column; } 
 .sub-menu { width: 100%; } 
 }
 @media (max-width: 768px){
  .board-cont .item.half .cont {
    width: 100%;
  }
}
@media (max-width: 640px){
  .board-cont {
    padding: 2rem 2rem 1rem;
  }
  .board-cont .item .b-item {
    flex-direction: column;
    flex: 1 1 50%;
  }
  .board-cont .item .b-item > * {
    width: 100%;
  }
  .sch-input {
    width: 100%;
  }
  .m-group {
    flex-direction: column;
  }
  .m-group > * {
    width: 100% !important;
  }
}