.krds-btn {
  &:active,
  &:focus {
    color: #fff;
  }

  &.link {
    color: #464c53;

    &:visited {
      color: #464c53;

      .svg-icon {
        background-color: initial;
      }
    }

    &:hover {
      color: inherit;
    }

    &.xsmall {
      font-size: 1.4rem;
    }

    &.small {
      font-size: 1.6rem;
    }
  }

  &.xsmall {
    font-size: 1.4rem;
  }

  &.small {
    .ico-all {
      width: 20px;
      height: 20px;
    }

    .ico-plus02 {
      width: 1.2rem;
      height: 1.2rem;
    }

    .ico-angle02 {
      width: 14px;
      height: 14px;
      margin-left: 1rem;
    }
  }

  &.full {
    width: 100%;
  }

  &.md {
    min-width: 10rem;
  }

  &.search {
    width: 9rem;
    background-color: #4158d1;
    border-color: #4158d1;
    color: #fff;
  }

  &.delete {
    background-color: #fff;
    border-color: #f63d2e;
    color: #f63d2e;

    .svg-icon {
      background-color: #f63d2e;
    }
  }

  &.filter {
    width: 12rem;
    background-color: #1e2326;
    border-color: #1e2326;
    color: #fff;
  }

  &.nomal {
    background-color: #fff;
    border-color: #d9d9d9;
    color: #000;

    .svg-icon {
      background-color: #000;
    }
  }

  &.type02 {
    padding: 0 1.6rem;
    background-color: #4158d1;
    border-color: #4158d1;
    color: #fff;
  }

  &.type03 {
    background-color: #ececec;
    border-color: #ececec;
    color: #000;

    .svg-icon {
      background-color: #000;
    }
  }

  &.type04 {
    background-color: #fff;
    border-color: #99b2f9;
    color: #99b2f9;

    &.active {
      background-color: #99b2f9;
      color: #fff;

      .svg-icon {
        background-color: #fff;
      }
    }

    .svg-icon {
      background-color: #99b2f9;
    }
  }

  &.type05 {
    background-color: transparent;
    border-color: transparent;
    color: #4158d1;

    .svg-icon {
      background-color: #4158d1;
    }
  }

  &.type06 {
    background-color: #fff;
    border-color: #4158d1;
    color: #4158d1;

    .svg-icon {
      background-color: #4158d1;
    }
  }

  &.i-type01 .svg-icon {
    background-color: #ff4040;
  }

  &.i-type02 .svg-icon {
    background-color: #4786fb;
  }

  &.active .svg-icon.ico-public {
    background-color: #d7d8d9;
    mask-image: url(../../images/jobcloud/component/icon/ico_public_off.svg);
  }

  .svg-icon {
    vertical-align: baseline;

    &.ico-angle02 {
      background-color: #6c6e72;
    }

    &.ico-del02 {
      background-color: #d7d8d9;
    }
  }

  &:hover .svg-icon.ico-del02 {
    background-color: #ff3d42;
  }
}

.krds-btn-tag.unused {
  background-color: #afafaf;
  color: #fff;
}

.krds-tooltip {
  &.preview {
    .svg-icon.ico-preview {
      width: 1.6rem;
      height: 1.6rem;
      margin-top: 0.4rem;
    }

    + .krds-tooltip-popover {
      background-color: #6c6d72;

      &::before {
        background-color: #6c6d72;
      }
    }
  }

  &.info + .krds-tooltip-popover {
    padding: 1.5rem;

    li {
      padding-left: 0.5rem;
      position: relative;
      color: #848484;
      font-size: 1.4rem;
      text-align: left;

      &::before {
        content: '';
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        top: 0.9rem;
        left: 0;
        background-color: #848484;
        border-radius: 50%;
      }
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
