.krds-btn.full {
    width: 100%;
  }
  
  .krds-btn.md {
    min-width: 12rem;
  }
  a.krds-btn:hover {
    color: #000;
  }
  
  .krds-btn .svg-icon {
    vertical-align: baseline;
  }
  
  .krds-btn.xsmall,
  .krds-btn.link.xsmall {
    font-size: 1.2rem;
  }
  
  .krds-btn.small {
    .ico-all {
      width: 2rem;
      height: 2rem;
    }
  
    .ico-plus02 {
      width: 1.2rem;
      height: 1.2rem;
    }
  
    .ico-angle02 {
      width: 0.8rem;
      height: 1.2rem;
      margin-left: 1rem;
    }
  }
  
  .svg-icon {
    &.right {
      margin-right: 0.5rem;
    }
  
    &.left {
      margin-left: 0.5rem;
    }
  }
  
  .krds-btn.link {
    color: #1a0dab;
  
    &:visited {
      color: #1a0dab;
    }
  
    &.small {
      font-size: 1.4rem;
    }
  }
  .krds-btn.search {
    width: 10rem;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
  }
  
  .krds-btn.delete {
    background-color: #ff3333;
    border-color: #ff3333;
    color: #fff;
  
    .svg-icon {
      background-color: #fff;
    }
  }
  
  .krds-btn.filter {
    width: 10rem;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
  }
  
  .krds-tooltip.preview {
    .svg-icon.ico-preview {
      width: 2rem;
      height: 2rem;
      margin-top: 0.4rem;
    }
  
    &+.krds-tooltip-popover {
      background-color: #fff;
  
      &::before {
        background-color: #fff;
      }
    }
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .krds-tooltip.info+.krds-tooltip-popover {
    padding: 1rem;
  
    li {
      padding-left: 0.5rem;
      position: relative;
      color: #333;
      font-size: 1.4rem;
      text-align: left;
  
      &::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        top: 0.9rem;
        left: 0;
        background-color: #333;
        border-radius: 50%;
      }
    }
  }
  
  .krds-btn.nomal {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #333;
  
    .svg-icon {
      background-color: #333;
    }
  }
  
  .krds-btn.type02 {
    padding: 0 1.6rem;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
  }
  
  .krds-btn.type03 {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #333;
  
    .svg-icon {
      background-color: #333;
    }
  }
  
  .krds-btn.type04 {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
  
    .svg-icon {
      background-color: #333;
    }
  
    &.active {
      background-color: #ddd;
      color: #000;
  
      .svg-icon {
        background-color: #000;
      }
    }
  }
  
  .krds-btn.type05 {
    background-color: transparent;
    border-color: transparent;
    color: #333;
  
    .svg-icon {
      background-color: #333;
    }
  }
  
  .krds-btn.type06 {
    background-color: #f2f2f2;
    border-color: #ddd;
    color: #333;
  
    .svg-icon {
      background-color: #333;
    }
  }
  
  .krds-btn.i-type01 .svg-icon {
    background-color: #333;
  }
  
  .krds-btn.i-type02 .svg-icon {
    background-color: #000;
  }
  
  .krds-btn.active .svg-icon.ico-public {
    background-color: #000;
    mask-image: url(../../images/jobcloud/component/icon/ico_public_off.svg);
  }
  
  .krds-btn .svg-icon.ico-angle02 {
    background-color: #333;
  }
  
  .krds-btn .svg-icon.ico-del02 {
    background-color: #888;
  
    &:hover {
      background-color: #000;
    }
  }
  
  .krds-form-select.type02 {
    background-size: 1.6rem !important;
    background-image: url(../../images/jobcloud/component/icon/ico_angle03.svg);
  }
  
  .krds-form-select option:disabled {
    color: #ccc;
  }
  
  .krds-btn-tag.unused {
    background-color: #f2f2f2;
    color: #888;
  }
  
  .krds-btn.link:visited .svg-icon {
    background-color: initial;
  }