.card-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;

  .card-item {
    border: 1px solid #ddd;
    border-radius: 1rem;

    a {
      display: block;
    }

    .card-top {
      padding: 1rem;
      border-bottom: 1px solid #ddd;
      border-radius: 0.9rem 0.9rem 0 0;
    }

    // 배경색 순환
    &:nth-child(3n + 1) .card-top {
      background-color: #e7f1fd;
    }

    &:nth-child(3n + 2) .card-top {
      background-color: #e7e8fd;
    }

    &:nth-child(3n + 3) .card-top {
      background-color: #f5e6fd;
    }

    .card-text {
      height: 16rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #eee;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }

    .card-bottom {
      padding: 1rem;
      background-color: #f3f3f3;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
