.radio-target-item {display: none;}
.krds-check-area {
    gap: 1rem 2rem;
}

.krds-form-check {
    position: relative;

    &.small {
        >input[type='checkbox'],
        >input[type='radio'] {
            ~label {
                font-size: 1.4rem;
                &::before {
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &::after {
                    width: 1rem;
                    height: 1rem;
                    left: 0.3rem;
                    top: 0.6rem;
                }
            }
        }
    }
}