// .drop-cont {display: none; width: 100%;}
// .drop-sel-cont {display: none;}
.drop-cont {
    @include hidden;
    @include fullWidth;
}

.drop-cont.is-open {
    display: block;
}

.drop-sel-cont {
    @include hidden;
}

.drop-sel-cont.is-open {
    display: block;
}