.drop-cont {
  display: none;
  width: 100%;

  &.is-open {
    display: block !important;
  }
}

.drop-sel-cont {
  display: none;

  &.is-open {
    display: block;
  }
}
.show {
  visibility: visible !important;
  opacity: 1 !important;
}