.drop-cont {
    display: none;
    width: 100%;
  }
  
  .drop-cont.is-open {
    display: block;
  }
  
  .drop-sel-cont {
    display: none;
  }
  
  .drop-sel-cont.is-open {
    display: block;
  }