.textarea-wrap {
  &.small {
    textarea.krds-input {
      font-size: 1.4rem;
      height: 10rem;
    }
  }
}

.krds-file-upload {
  &.small {
    .file-upload {
      padding: 2rem 1rem;
      gap: 1rem;

      .txt {
        font-size: 1.4rem;
      }
    }

    .file-list {
      .upload-list {
        > li {
          padding: 1rem;
        }

        .file-info {
          .file-name {
            color: #8a949e;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
.krds-form-select {
  &.type02 {
    background-size: 2rem !important;
    background-image: url(../../images/jobcloud/component/icon/ico_angle03.svg);
  }

  option:disabled {
    color: #ddd;
  }

  &.xsmall {
    height: 3.2rem;
    font-size: 1.4rem;
  }
}

.krds-input[readonly] {
  background-color: #f3f3f3;
}
.form-mail {
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

