.svg-icon.ico-download {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_download.svg);
}
.svg-icon.ico-plus02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_plus02.svg);
}
.svg-icon.ico-angle02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_angle02.svg);
}
.svg-icon.ico-public {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_public.svg);
}
.svg-icon.ico-del02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_del.svg);
}
.svg-icon.ico-filter02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_filter02.svg);
}
.svg-icon.ico-preview {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_preview.svg);
}
.svg-icon.ico-sort {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_sort.svg);
}
.svg-icon.ico-sort-up {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_sort_up.svg);
}
.svg-icon.ico-sort-down {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_sort_down.svg);
}
.svg-icon.ico-delete02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_delete02.svg);
}
.svg-icon.ico-phone {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_phone.svg);
}
.svg-icon.ico-drag {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_drag.svg);
}
.svg-icon.ico-line {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_line.svg);
}
.svg-icon.ico-password {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_password.svg);
}
.svg-icon.ico-open-box {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_open_box.svg);
}
.svg-icon.ico-close-box {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_close_box.svg);
}
.svg-icon.ico-sub-directory {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_sub_directory.svg);
    background-color: #999999;
}
.svg-icon.ico-minus {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_minus.svg);
}
.svg-icon.ico-menu {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_menu.svg);
}
.svg-icon.ico-click {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_click.svg);
}
.svg-icon.ico-group-add {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_group_add.svg);
}
.svg-icon.ico-arrow-up {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_arrow_up.svg);
}
.svg-icon.ico-arrow-down {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_arrow_down.svg);
}
.svg-icon.ico-man {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_man.svg);
}
.svg-icon.ico-woman {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_woman.svg);
}
.svg-icon.ico-link {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../images/jobcloud/component/icon/ico_link.svg);
}
