.svg-icon.ico-download {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_download.svg);
}
.svg-icon.ico-plus02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_plus02.svg);
}
.svg-icon.ico-angle02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_angle02.svg);
}
.svg-icon.ico-public {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_public.svg);
}
.svg-icon.ico-del02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_del.svg);
}
.svg-icon.ico-filter02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_filter02.svg);
}
.svg-icon.ico-preview {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_preview.svg);
}
.svg-icon.ico-sort {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_sort.svg);
}
.svg-icon.ico-sort-up {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_sort_up.svg);
}
.svg-icon.ico-sort-down {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_sort_down.svg);
}
.svg-icon.ico-delete02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_delete02.svg);
}
.svg-icon.ico-phone {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_phone.svg);
}
.svg-icon.ico-drag {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_drag.svg);
}
.svg-icon.ico-line {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_line.svg);
}