.svg-icon.ico-test {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_test.svg)
}
.svg-icon.ico-download {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_download.svg)
}
.svg-icon.ico-plus02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_plus02.svg)
}
.svg-icon.ico-angle02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_angle02.svg)
}
.svg-icon.ico-public {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_public.svg)
}
.svg-icon.ico-del02 {
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: url(../../resources/img/component/icon/ico_del.svg)
}