.items-group {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #ddd;
  
    .filter-item {
      display: none;
    }
  
    > .item:first-child {
      padding: 0;
      margin: 0;
      border: 0;
    }
  
    .item {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid #ddd;
    }
  
    .dl-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
  
      dl {
        display: flex;
        align-items: center;
        flex: 1 1 0;
        gap: 1rem;
  
        dt {
          width: 12rem;
          flex-shrink: 0;
          font-weight: 500;
        }
      }
    }
  
    .krds-form-check {
      input[type="checkbox"]:checked ~ label:before {
        background-color: #007bff;
        border-color: #007bff;
      }
  
      input[type="radio"]:checked ~ label:before {
        border-color: #007bff;
      }
  
      input[type="radio"]:checked ~ label:after {
        background-color: #007bff;
      }
    }
  }