.krds-modal {
  &.modal-type02,
  &.modal-type03 {
    .modal-dialog {
      .modal-header {
        padding: 2rem;
        border-bottom: 1px solid #ddd;
      }

      .modal-conts {
        padding: 2rem;
      }
    }
  }

  .conts-area .cont {
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1rem;
  }

  .modal-dialog .modal-btn.jcc {
    justify-content: center;
  }

  .form-pop-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
      display: flex;
      align-items: center;
      gap: 1rem;

      .form-tit {
        width: 12rem;
        font-weight: 500;
      }

      .form-conts {
        width: 100%;
      }
    }
  }

  .table-container {
    overflow-x: auto;
  }

  .cert-wrap {
    .cert-item {
      padding: 2rem;
      margin-top: 1rem;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 1rem;
    }

    .cert-txt {
      margin-top: 1rem;
      padding: 1rem;
      border-top: 1px solid #ddd;

      p {
        text-align: center;
      }
    }
  }

  .tip-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: #ddd;
    border: 1px solid #eee;
    border-radius: 0.5rem;

    p {
      padding-left: 1.6rem;
      position: relative;
      font-size: 1.2rem;

      .svg-icon {
        position: absolute;
        top: 0.2rem;
        left: 0;
      }
    }
  }
}