.krds-modal.modal-type02 .modal-dialog .modal-header {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
  }
  .krds-modal.modal-type02 .modal-dialog .modal-conts {
    padding: 1rem 2rem;
  }
  .krds-modal.modal-type02 .conts-area .cont {
    display: flex;
    min-height: 6rem;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
  }