.krds-pagination.type02 {
  .page-navi {
    &.prev-start,
    &.next-end,
    &.prev,
    &.next {
      width: 3rem;
      height: 3rem;
      padding: 0;
      border: 1px solid #ddd;
    }

    &.prev-start::before,
    &.next-end::after {
      content: "";
      display: inline-flex;
      width: 1.6rem;
      height: 1.6rem;
      background-color: #333;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
    }

    &.prev::before {
      background-color: #333;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
      mask-image: url(../../images/jobcloud/component/icon/ico_angle02.svg);
      transform: rotate(180deg);
    }

    &.next::after {
      background-color: #333;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
      mask-image: url(../../images/jobcloud/component/icon/ico_angle02.svg);
      transform: rotate(0);
    }

    &.prev-start::before {
      mask-image: url(../../images/jobcloud/component/icon/ico_pagination02.svg);
      transform: rotate(180deg);
    }

    &.next-end::after {
      mask-image: url(../../images/jobcloud/component/icon/ico_pagination02.svg);
    }

    &.prev-start {
      order: 1;
    }

    &.prev {
      order: 2;
    }

    &.next {
      order: 4;
    }

    &.next-end {
      order: 5;
    }
  }

  .page-links {
    order: 3;

    .page-link {
      width: 3rem;
      height: 3rem;
      border: 1px solid #ddd;

      &.active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;

  .page-navi {
    display: flex;

    &.prev::before,
    &.next::after {
      content: "";
      display: inline-flex;
      width: 1.6rem;
      height: 1.6rem;
      align-items: center;
      justify-content: center;
    }

    &.prev::before {
      background-color: #333;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
      mask-image: url(../../images/jobcloud/component/icon/ico_angle02.svg);
      transform: rotate(180deg);
    }

    &.next::after {
      background-color: #333;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
      mask-image: url(../../images/jobcloud/component/icon/ico_angle02.svg);
      transform: rotate(0);
    }
  }
}

@media (max-width: 768px) {
  .krds-pagination.type02 {
    .page-navi {
      &.prev-start {
        order: 1;
      }

      &.prev {
        order: 2;
      }

      &.next {
        order: 3;
      }

      &.next-end {
        order: 4;
      }
    }

    .page-links {
      order: 5;
    }
  }
}