.switch-group {
    display: flex;
  
    input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
  
      &:checked + label {
        background-color: #1e2326;
        color: #fff;
      }
    }
  
    label {
      display: flex;
      width: 10rem;
      height: 4rem;
      margin-left: -1px;
      background-color: #fff;
      color: #b4b4b4;
      font-size: 1.6rem;
      line-height: 1;
      border: 1px solid #d9d9d9;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in-out;
  
      &:first-of-type {
        border-radius: 5px 0 0 5px;
      }
  
      &:last-of-type {
        border-radius: 0 5px 5px 0;
      }
    }
  
    @media (max-width: 640px) {
      width: 100%;
  
      label {
        width: 100%;
      }
    }
  }
  