.tabs {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;

  li a {
    display: block;
    padding: 1rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 1.4rem;
    width: 12rem;
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-bottom: 0;
    color: #333;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -1px;
      border-bottom: 1px solid #fff;
    }
  }

  li.active a {
    background-color: #fff;
    color: #007bff;
    z-index: 2;
  }

  &.type02 {
    margin-bottom: 0;
    border: 0;

    li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 4rem;
      margin-left: -1px;
      padding: 1rem;
      background-color: #fff;
      color: #333;
      font-size: 1.4rem;
      border-radius: 0;
      border: 1px solid #ddd;

      &::before {
        content: none;
      }
    }

    li.active a {
      background-color: #007bff;
      color: #fff;
    }

    li:first-of-type a {
      border-radius: 5px 0 0 5px;
    }

    li:last-of-type a {
      border-radius: 0 5px 5px 0;
    }
  }
}