.table-group {
  .total {
    padding-left: 1rem;
    font-size: 1.4rem;
  }
}

.krds-table-wrap {
  overflow-x: auto;

  &.full table {
    min-width: 100% !important;
    width: 100% !important;
  }

  &.tbl-type table {
    min-width: 1400px;
    width: 100%;

    &.min-full {
      min-width: 100%;
    }
  }

  &.tbl-type .tbl.data thead th {
    padding: 1.5rem;
    background-color: #f2f2f2;
    color: #333;
    font-weight: 500;
    border-bottom: 0;
    text-align: center;
  }

  &.tbl-type .tbl.data tbody td,
  &.tbl-type .tbl.data tbody th {
    text-align: center;
  }

  .tbl.data thead th:first-child {
    border-radius: 0.5rem 0 0 0;
  }

  .tbl.data thead th:last-child {
    border-radius: 0 0.5rem 0 0;
  }

  &.tbl-type02 .tbl.data thead th {
    font-weight: 500;
  }

  &.tbl-type02 .tbl.data thead th,
  &.tbl-type02 .tbl.data tbody td {
    padding: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
  }

  &.tbl-type02 .tbl.data thead th {
    color: #fff;
    background: #007bff;
  }

  &.tbl-type02 tbody tr:nth-child(odd) td {
    background: #f9f9f9;
  }

  &.tbl-type02 tbody tr:nth-child(even) td {
    background: #fff;
  }

  .detail {
    display: none;
  }

  .ellip {
    display: flex;

    a, p {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      word-break: break-all;
    }
  }

  &.tbl-type button {
    vertical-align: sub;
  }

  &.scroll {
    height: 40rem;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 0.4rem;
    }

    table {
      border-collapse: collapse;
    }

    table > thead > tr {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }

  .tab.type02 {
    ul {
      border: 1px solid #ddd;
      border-radius: 0.5rem;
    }

    &.full ul li {
      position: relative;

      &:not(:first-child)::before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        background: #ddd;
        z-index: 1;
      }

      .btn-tab {
        height: 4rem;
        color: #333;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    ul li .btn-tab {
      background-color: #fff;
    }

    ul li.active .btn-tab {
      color: #fff;
      background-color: #007bff;
    }
  }

  .grid-table-group {
    overflow-x: auto;

    .grid-table {
      min-width: 100rem;
    }

    .grid-thead {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 1rem;
      background: #f2f2f2;
      font-weight: bold;
      gap: 1rem;

      .g-tr {
        padding: 1.5rem;
        font-size: 1.4rem;
        text-align: center;
      }

      .g-tr {
        display: grid;
        grid-template-columns: 8rem 12rem auto 8rem;
      }
    }

    .grid-tbody {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .g-tr {
        display: grid;
        grid-template-columns: 8rem 12rem auto 8rem;
        align-items: center;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 0.5rem;

        * {
          vertical-align: middle;
        }

        > div:not(:last-child) {
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          word-break: break-all;
        }
      }
    }
  }
}