.tabs {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}
.tabs li a {
  display: block;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  width: 120px;
  position: relative;
  text-align: center;
  background-color: #99B2F9;
  border: 1px solid #89a8fe;
  border-bottom: 0;
  color: #fff;
  z-index: 1;
}
.tabs li a::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #fff;
}
.tabs li.active a {
  background-color: #fff;
  color: #256EF4;
  z-index: 2;
}

.tabs.type02 {
  margin-bottom: 0;
  border: 0;
}
.tabs.type02 li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
  margin-left: -0.1rem;
  padding: 0 1rem;
  background-color: #fff;
  color: #b4b4b4;
  font-size: 1.6rem;
  border-radius: 0;
  border: 1px solid #d9d9d9;
}
.tabs.type02 li a::before {
  content: none;
}
.tabs.type02 li.active a {
  background-color: #1e2326;
  color: #fff;
}
.tabs.type02 li:first-of-type a {
  border-radius: 5px 0 0 5px;
}
.tabs.type02 li:last-of-type a {
  border-radius: 0 5px 5px 0;
}